# Breast Cancer Detection using K nearest Neighbours

### Importing Libraries

In [1]:
import numpy as np
from math import sqrt
import warnings
from collections import Counter
import pandas as pd
import random

### Creating KNN function using np.linalg.norm for finding euclidean Distance

In [3]:
def k_nearest_neighbors(data, predict, k=3):
    if len(data) >= k:
        warnings.warn('K is set to a value less than total voting groups!')
    distances = []
    for group in data:
        for features in data[group]:
            euclidean_distance = np.linalg.norm(np.array(features)-np.array(predict))
            distances.append([euclidean_distance, group])
    #count nearest K data
    votes = [i[1] for i in sorted(distances)[:k]]
    vote_result = Counter(votes).most_common(1)[0][0]
    confidence = Counter(votes).most_common(1)[0][1] / k
  
    return vote_result, confidence

### Reading cancer data set

In [5]:
df = pd.read_csv("breast-cancer-wisconsin.data.txt")

In [6]:
df.head()

,id,clump_thickness,unif_cell,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,blan_chorm,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

### Preprocessing the data
####  Replacing mising Value , Droping ID collumn

In [7]:
df.replace('?',-99999, inplace=True)

In [8]:
df.drop(['id'], 1, inplace=True)

In [9]:
full_data = df.astype(float).values.tolist()
random.shuffle(full_data)

### Splitting the data into train data and test data, to get the prediction

In [10]:
test_size = 0.4
train_set = {2:[], 4:[]}
test_set = {2:[], 4:[]}
train_data = full_data[:-int(test_size*len(full_data))]
test_data = full_data[-int(test_size*len(full_data)):]

In [22]:
for i in train_data:
    train_set[i[-1]].append(i[:-1])

In [23]:
for i in test_data:
    test_set[i[-1]].append(i[:-1])

In [24]:
correct = 0
total = 0

### Here we using KNN function and passing whole train data and passing test data in loop to predict the percentage of accurate data we get

In [25]:
for group in test_set:
    for data in test_set[group]:
        vote,confidence = k_nearest_neighbors(train_set, data, k=5)
        if group == vote:
            correct += 1
        total += 1
print('Accuracy:', correct/total)

Accuracy: 0.9605734767025089